:root {
    --transparent-background: #30303080;
    --light-grey: #9c9c9c;
    --dark-grey: #525252;
    --light-blue: #b8dbff;
    --dark-blue: #022d59;
    --light-green: #00e33d;
    --dark-green: #038a27;
    --light-red: #ff1f1f;
    --dark-red: #800000;
    --dark-blue: #070bb3;
    --white: #ffffff;
    --grey-white: #f5f5f5;
    --darker-grey-white: #ececec;
}
